.banner-container {
  display: flex;
  width: 800px;
  height: calc(400px + var(--space-4) * 2);
  gap: var(--space-8);
  cursor: pointer;
  transition: var(--transition-1);
  padding: var(--space-4);
  align-items: center;
  justify-content: center;
}

.banner-container:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.banner-img-container {
  width: 300px;
  aspect-ratio: 3/4;
  overflow: hidden;
  img {
    object-fit: cover;
    width: 100%;
  }
}

.banner-description-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 19%;

  .title {
    margin: 0;
    padding: 0;
  }

  .date {
    font-size: var(--text-md);
    opacity: 0.7;
    font-style: italic;
  }

  .description {
    font-size: var(--text-lg);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: var(--space-2) !important;
  }
}

@media (max-width: 743px) {
  .banner-container {
    flex-direction: column;
    width: 60%;
  }

  .banner-img-container {
    width: 100%;
    height: 200px;
    /* width: fit-content; */
    aspect-ratio: 3/4;
    overflow: hidden;
  }
}
