.caroussel {
  display: flex;
  gap: var(--space-4);
  transition: var(--transition-1);
}

.caroussel-container {
  width: 100%;
  overflow: hidden;
}

.caroussel-arrow-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
  height: 16rem;
  .arrow-next,
  .arrow-prev {
    transition: var(--transition-1);
    opacity: 0;
    position: absolute;
    z-index: 5;
    height: 100%;
    display: flex;
    align-items: center;
    svg {
      fill: var(--paragraph);
    }
  }
}

.caroussel-arrow-container:hover {
  .arrow-next,
  .arrow-prev {
    opacity: 1;
  }
}

.arrow-next:active {
  svg {
    transform: scale(0.95);
  }
}

.arrow-prev:active {
  svg {
    transform: scale(0.95) rotate(180deg);
  }
}

.arrow-prev {
  left: 0;
  padding-right: 10rem;

  background: linear-gradient(
    to right,
    var(--background) 0%,
    var(--background) 30%,
    rgba(11, 21, 26, 0) 100%
  );
  svg {
    transform: rotate(180deg);
  }
}

.arrow-next {
  right: 0;
  padding-left: 10rem;
  background: linear-gradient(
    to left,
    var(--background) 0%,
    var(--background) 30%,
    rgba(11, 21, 26, 0) 100%
  );
}
