.app_footer {
  color: var(--paragraph);
  padding: var(--space-8) var(--space-4);
  font-family: var(--paragraph-font);
  margin-top: var(--space-12);
}

.footer_bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: var(--space-4);
  text-align: center;
  opacity: 0.8;

  p {
    font-size: var(--text-sm) !important;

    a {
      font-size: var(--text-sm) !important;
    }
  }
}
.footer_bottom a {
  color: var(--paragraph);
  text-decoration: none;
  transition: var(--transition-1);
}
.footer_bottom a:hover {
  color: var(--accent);
}
