header {
  display: flex;
  justify-content: space-between;
  padding: var(--space-3);
}

@media (max-width: 743px) {
  header {
    flex-direction: column;
    gap: var(--space-3);
    align-items: center;

    * {
      font-size: var(--text-4xl) !important;
    }

    svg {
      height: 4rem !important;
      width: 3rem !important;
    }
  }
}
