nav {
  display: flex;
  gap: var(--space-2);
  width: fit-content;
  cursor: pointer;
}

a:hover {
  color: var(--accent);
}

.selected {
  color: var(--primary);
}

.selected:hover {
  color: var(--accent);
}
