.people_page {
  padding: var(--space-8);
  background: var(--background);
  color: var(--paragraph);
  font-family: var(--paragraph-font);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-3);
}

.people_header {
  display: flex;
  gap: var(--space-8);
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
}

.people_photo {
  width: 300px;
  height: 450px;
  border-radius: var(--space-2);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--secondary);
  font-size: var(--text-lg);
  color: white;
}

.people_info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

.people_name {
  font-family: var(--heading-font);
  font-size: var(--text-4xl);
  font-weight: 700;
  color: var(--primary);
}

.people_department,
.people_popularity,
.people_birth,
.people_death,
.people_biography {
  font-size: var(--text-md);
  line-height: 1.6;
  color: var(--paragraph);
}

.adult_badge {
  font-size: var(--text-lg);
}

.people_filmography {
  max-max-width: 1200px;
}

.people_movies_container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: var(--space-3);
}

@media (max-width: 743px) {
  .people_header {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: var(--space-6);
  }

  .people_photo {
    width: 80%;
    max-width: 250px;
  }

  .people_name {
    font-size: var(--text-3xl);
  }

  .people_department,
  .people_popularity {
    font-size: var(--text-sm);
  }
}
